@page "/collections/create"
@using CSGOSkinsWeb.Core.Web.Collections
@attribute [Authorize(Roles = "Admin")]

<div id="case-create">
    <CollectionCreateComponent></CollectionCreateComponent>
</div>

