@namespace CSGOSkinsWeb.Core.Web.Cases
@inherits OwningComponentBase

@if (WeaponCase != null)
{
    <h1>@WeaponCase.Casename</h1>
    <p>@WeaponCase.Casecollection</p>
    <p>@WeaponCase.Idstring</p>

}
